.card
  .card-header
    = t('.va_card')
  .card-block
    = form_for student, url: {action: :card, controller: :students, id: student.id}, remote: true do |f|
      .row
        .col-md-12{class: [bs_form_error_cl(f,:card)]}
          .form-group
            = f.text_field :card, class: 'form-control', placeholder: "N'a pas encore eu sa carte VA"
            = bs_form_errors(f, :card)
      .row{style: 'display: none'}
        .col-md-12
          = f.submit t('.edit_card'), class: 'btn btn-warning btn-block'