- if students == 'too much'
  .text-center.text-warning= t('.too_much')
- else
  - (students||[]).each do |student|
    = form_tag registration_start_path, method: :put do
      = hidden_field_tag :student_id, student.id
      %button.btn.btn-outline-primary.btn-block.m-y-1{type: :submit}
        %span.first_name.text-capitalize= student.first_name
        %span.last_name.text-uppercase= student.last_name
        %span
          %span (
          - if student.study_year
            %span= student.study_year.name
            %span &nbsp;-&nbsp;
            %span= student.student_id
          - else
            %span= student.birthday
          %span)
  - if students
    .list-group.m-y-2
      = link_to registration_register_url, class: 'list-group-item list-group-item-action list-group-item-success' do
        .fa.fa-plus
        = t('.not_found')