%h1.text-center.display-1 Stand VA

= form_for @student.wei_registrations.last, url: {controller: :registration, action: :wei_register}, method: :post do |f|
  .form-group
    = f.check_box :caution
    %label= t('registration.caution')
  - if @student.wei_registrations.last.minor?
    .form-group
      = f.check_box :parental
      %label= t('registration.parental_authorization')
  .form-group
    %label= t('registration.non_medical')
    = f.text_area :details, class: 'form-control'
  .form-group
    %label= t('registration.medical')
    = f.text_area :medical_details, class: 'form-control'
  = f.submit 'Valider les informations pour le WEI', class: 'btn btn-success btn-block'