<h1><%= t('.register') %></h1>

<%= form_for @wei_registration do |f| %>
    <div class="form-group">
      <%= f.select :student_id, @students.map { |student| [student.name, student.id] }, {}, {class: 's2 form-control'} %>
    </div>
    <%= f.submit t('.register'), class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to t('cancel'), wei_registrations_path, class: 'btn btn-block btn-secondary m-y-2' %>
