.row
  .col-xs-12
    = link_to t('.back_to_list'),'#', onclick: 'window.history.back();', class: 'btn btn-secondary btn-block m-b-2'
  #ajax-refresh-card.col-md-4.col-xs-12
    = render 'card', wei_registration: @wei_registration
  .col-md-4.col-sm-6.col-xs-12
    - unless @wei_registration.paid
      #pay-form.card
        .card-block
          = form_for Payment.new(student: @wei_registration.student, payable: @wei_registration.wei), url: {action: :pay}, remote: true do |f|
            .form-group= f.select :payment_method_id, PaymentMethod.enabled.map {|p| [p.name, p.id]}, {}, {class: 'form-control'}
            = f.submit t('.pay'), class: 'btn btn-block btn-primary'
    #register-form.card
      .card-block
        = form_for @wei_registration, remote: true do |f|
          .form-group= f.datetime_select :registration_by, {}
          = f.submit t('.update'), class: 'btn btn-block btn-primary'
  .col-md-4.col-sm-6.col-xs-4
    #danger-zone.card.card-outline-danger.card-inverse
      = render 'danger_zone', wei_registration: @wei_registration