.row
  .col-xs-12.col-md-6.offset-md-3
    = link_to wei_registrations_path, class: 'btn btn-secondary btn-block m-b-2' do
      %span.fa.fa-chevron-left
      %span=t('.back_to_list')
  #ajax-refresh-card.col-md-4.col-xs-12
    = render 'card', wei_registration: @wei_registration
  .col-md-4.col-sm-6.col-xs-12
    - unless @wei_registration.paid
      #pay-form.card
        .card-block
          = form_for Payment.new(student: @wei_registration.student, payable: @wei_registration.wei), url: {action: :pay}, remote: true do |f|
            .form-group= f.select :payment_method_id, PaymentMethod.enabled.map {|p| [p.name, p.id]}, {}, {class: 'form-control'}
            = f.submit t('.pay'), class: 'btn btn-block btn-primary'
    - if @wei_registration.status == 'waiting'
      #register-form.card
        .card-header
          = t('.edit_registration')
        .card-block
          .explains
            %span.text-muted=t('.why_edit_time')
          = form_for @wei_registration, remote: true do |f|
            .form-group= f.datetime_select :registration_by, {}
            = f.submit t('.update'), class: 'btn btn-block btn-primary'
    - if @wei_registration.status == 'registered'
      #bungalow-edit.card
        .card-header
          =t('.bus_and_bungalow')
        .card-block
          = form_for @wei_registration, remote: true do |f|
            .form-group
              = f.label :bus
              = f.collection_select :wei_bus_id, @wei_registration.wei_bus.nil? ? WeiBus.not_full : WeiBus.not_full + [@wei_registration.wei_bus], :id, :name, {}, class: %w(form-control s2)
            .form-group
              = f.label :bungalow
              = f.collection_select :wei_bungalow_id, @wei_registration.wei_bungalow.nil? ? (@wei_registration.wei_bus.nil? ? WeiBungalow.not_full : WeiBungalow.not_full.for_bus(@wei_registration.wei_bus)) : (@wei_registration.wei_bus.nil? ? WeiBungalow.not_full : WeiBungalow.not_full.for_bus(@wei_registration.wei_bus)) + [@wei_registration.wei_bungalow], :id, :name, {prompt: true}, class: %w(form-control s2)
            = f.submit t('.update'), class: 'btn btn-block btn-primary'
  .col-md-4.col-sm-6.col-xs-4
    #about.card
      .card-header
        =t('.about')
      .card-block
        = form_for @wei_registration, remote: true do |f|
          - if @wei_registration.minor?
            .form-check
              %label.form-check-label
                = f.check_box :parental, class: %w(form-check-input send-on-type)
                = t('registration.parental_authorization')
          .form-check
            %label.form-check-label
              = f.check_box :caution, class: %w(form-check-input send-on-type)
              = t('registration.caution')
          .form-group
            = f.label :details
            = f.text_area :details, class: %w(form-control send-on-type)
          .form-group
            = f.label :medical_details
            = f.text_area :medical_details, class: %w(form-control send-on-type)
    #danger-zone.card.card-outline-danger.card-inverse
      = render 'danger_zone', wei_registration: @wei_registration