.pos-f-t
  %nav.navbar.navbar-light.navbar-static-top.bg-faded
    .container
      %button.navbar-toggler.hidden-sm-up{data: {target: '#exCollapsingNavbar2', toggle:'collapse'}, type: "button"}
        \☰
      #exCollapsingNavbar2.collapse.navbar-toggleable-xs
        %a.navbar-brand{:href => "#"} MARSU
        %ul.nav.navbar-nav
          %li.nav-item.active
            = link_to t('.home'), root_path, class: 'nav-link'
        - if current_user
          #user.dropdown.pull-xs-right
            .btn.btn-outline-primary.dropdown-toggle{data: {toggle:'dropdown'}}
              .fa.fa-user
              = current_user.email
            .dropdown-menu
              = link_to destroy_user_session_path, method: :delete, class:'dropdown-item text-danger' do
                .fa.fa-sign-out
                = t('.logout')
        - else
          = link_to new_user_session_path, class:'pull-xs-right btn btn-outline-primary' do
            .fa.fa-sign-in
            = t('.login')
