.pos-f-t
  %nav.navbar.navbar-light.navbar-static-top.bg-faded
    .container
      %button.navbar-toggler.hidden-sm-up{data: {target: '#exCollapsingNavbar2', toggle:'collapse'}, type: "button"}
        \☰
      #exCollapsingNavbar2.collapse.navbar-toggleable-xs
        %a.navbar-brand{:href => "#"} MARSU
        - if current_user
          %ul.nav.navbar-nav
            - if can? :read, Student
              %li.nav-item
                = link_to t('students.index.students'), students_path, class: 'nav-link'
            - if can? :read, WeiRegistration
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{data: {toggle:'dropdown'}, role: 'button'}=t('.wei.wei')
                .dropdown-menu
                  - if can? :read, WeiRegistration
                    = link_to t('.registrations'), wei_registrations_path, class: 'dropdown-item'
                  .dropdown-divider
                  = link_to t('.wei.waiting'), waiting_wei_registrations_path, class: 'dropdown-item'
                  = link_to t('.wei.deposit'), deposit_wei_registrations_path, class: 'dropdown-item'
                  .dropdown-divider
                  - if can? :read, WeiBungalow
                    = link_to t('.bungalows'), wei_bungalows_path, class: 'dropdown-item'
                  - if can? :read, WeiBus
                    = link_to t('.buses'), wei_buses_path, class: 'dropdown-item'
            - if can? :admin, :all
              %li.nav-item
                = link_to t('.admin'), admin_root_url, class: 'nav-link'
          #user.dropdown.pull-xs-right
            .btn.btn-outline-primary.dropdown-toggle{data: {toggle:'dropdown'}}
              .fa.fa-user
            .dropdown-menu.dropdown-menu-right
              = link_to destroy_user_session_path, method: :delete, class:'dropdown-item text-danger' do
                .fa.fa-sign-out
                = t('.logout')
        - else
          = link_to new_user_session_path, class:'pull-xs-right btn btn-outline-primary' do
            .fa.fa-sign-in
            = t('.login')
