!!!
%html
  %head
    - if content_for? :title
      %title
        = yield(:title)
        =' - Adhésion'
    - else
      %title Adhésion
    = render 'layouts/headers'
  %body
    = render 'layouts/navbar'
    #main.container
      = flash_messages
      = yield
    :javascript
      var MARSU = {
        departments: #{Department.all.to_json},
        study_years: #{StudyYear.all.to_json},
        memberships: #{Membership.all.to_json}
      };
